@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


/* Ask Button Hover Fix */
.ant-dropdown-button {
  background-color: rgba(221, 49, 49, 0.966) !important; /* Override default styles */
  border-radius: 5px !important; /* Add rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition for hover */
}

.ant-dropdown-button:hover {
  background-color: rgba(221, 49, 49, 0.7) !important; /* Adjust hover background */
}

.ant-dropdown-button .ant-btn {
  background-color: rgba(221, 49, 49, 0.966) !important; /* Override button background */
  border: none !important; /* Remove border */
  color: #fff !important; /* Ensure text color is white */
}

.ant-dropdown-button:hover .ant-btn {
  background-color: rgba(221, 49, 49, 0.7) !important; /* Hover background for button */
  color: #fff !important; /* Maintain text color on hover */
}



/* loader */

